<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <router-link tag="li" :to="requestsRouteLocation" active-class="active" class="nav-item">
                <a class="nav-link">Requests</a>
            </router-link>
            <router-link tag="li" :to="settingsRouteLocation" active-class="active" class="nav-item">
                <a class="nav-link">Settings</a>
            </router-link>
        </ul>
    </div>
</nav>
