@import "~bootstrap/scss/bootstrap";

.list-enter-active, .list-leave-active {
    transition: transform 0.5s, opacity 0.5s;
}

.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(-30px);
}

.clickable {
    cursor: pointer;
}
