<div>
    <h1>Details</h1>

    <div>
        <div class="row">
            <label class="col-sm-2">Request ID</label>
            <span class="col">{{ request.id }}</span>
        </div>
        <div class="row">
            <label class="col-sm-2">URL</label>
            <span class="col">{{ request.url }}</span>
        </div>
    </div>

    <ul class="nav nav-tabs mt-4 mb-4">
        <li class="nav-item">
            <a class="nav-link clickable" :class="{ active: currentTab === 'request' }" @click="selectTab('request')">
                Request
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link clickable" :class="{ active: currentTab === 'response' }" @click="selectTab('response')">
                Response
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link clickable" :class="{ active: currentTab === 'rules' }" @click="selectTab('rules')">
                Rules
            </a>
        </li>
    </ul>

    <div v-if="currentTab === 'request'">
        <div class="col">
            <div class="row">
                <label class="col-sm-2">Time</label>
                <span class="col">{{ request.request.time }}</span>
            </div>
            <div class="row">
                <label class="col-sm-2">Content Type</label>
                <span class="col">{{ request.request.headers.contentType || "n/a" }}</span>
            </div>
            <div class="row">
                <label class="col-sm-2">Body</label>
                <span class="col" v-if="!canDisplayBody(request.request.headers.contentType)">
                    <em>Unable to display</em>
                </span>
            </div>
            <div class="row">
                <div class="col" v-if="canDisplayBody(request.request.headers.contentType)">
                    <pre>{{ request.request.body }}</pre>
                </div>
            </div>
        </div>
    </div>

    <div v-if="currentTab === 'response'">
        <div class="col">
            <div v-if="request.response">
                <div class="row">
                    <label class="col-sm-2">Time</label>
                    <span class="col">{{ request.response.time }}</span>
                </div>
                <div class="row">
                        <label class="col-sm-2">Status Code</label>
                        <span class="col" :class="{ 'text-danger': request.response.statusCode >= 400 }">
                            {{ request.response.statusCode }}
                        </span>
                    </div>
                <div class="row">
                    <label class="col-sm-2">Content Type</label>
                    <span class="col">{{ request.response.headers.contentType }}</span>
                </div>
                <div class="row">
                    <label class="col-sm-2">Body</label>
                    <span class="col" v-if="!canDisplayBody(request.response.headers.contentType)">
                        <em>Unable to display</em>
                    </span>
                </div>
                <div class="row">
                    <div class="col" v-if="canDisplayBody(request.response.headers.contentType)">
                        <table style="table-layout: fixed; width: 100%; word-wrap: break-word;">
                            <tr><td>
                                <pre style="white-space: pre-wrap;">{{ request.response.body }}</pre>
                            </td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div v-if="!request.response" class="d-flex flex-column align-items-center">
                <span class="mb-2">Waiting for response to be sent...</span>
                <div class="progress" style="width: 100px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                        role="progressbar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>

    <div v-if="currentTab === 'rules'">
        <p v-if="!appliedRules">
            No rules have been applied yet
        </p>
        <p v-else-if="!appliedRules.length">
            No rules were applied
        </p>
        <ol v-else>
            <li v-for="rule in appliedRules">
                <strong>{{ rule.description }}</strong> (matches URL pattern {{ rule.urlPattern }})
                <br />
                <strong>Actions:</strong>
                <ol v-if="rule.actions.length">
                    <li v-for="action in rule.actions">
                        {{ action.description }}
                    </li>
                </ol>
                <p v-if="!rule.actions.length">No actions are configured</p>
            </li>
        </ol>
    </div>

</div>
