<div>
    <h1>Timeline</h1>

    <div class="card mb-3">
        <div class="card-header clickable" role="tab" @click="showFilter = !showFilter">
            <strong>Filter:</strong> {{ filterText }}
        </div>

        <div class="card-body" v-if="showFilter">
            <div class="form-group">
                <label>URL Regular Expression</label>
                <div class="input-group" :class="{ 'is-invalid': regexError }">
                    <input type="text" style="max-width: 500px" class="form-control" :value="regex"
                        @input="regexChanged($event.target.value)" @keyup.enter="showFilter = false">
                    <!-- <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                            Select from rule
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div> -->
                </div>
                <div class="invalid-feedback" v-if="regexError">
                    Invalid regular expression
                </div>
            </div>
        </div>
    </div>

    <transition name="switch-animation" mode="out-in">
        <div v-if="visibleRequests.length" key="timeline">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col" style="border-top: 0; width: 50px;">#</th>
                        <th scope="col" style="border-top: 0">URL</th>
                        <th scope="col" style="border-top: 0; width: 120px;">Status Code</th>
                        <th scope="col" style="border-top: 0; width: 50%">Timeline</th>
                    </tr>
                </thead>
                <tbody is="transition-group" name="table-animation">
                    <tr v-for="request in visibleRequests" :key="request.id" class="table-animation-item">
                        <th scope="row">{{ request.id }}</th>
                        <td class="ellipsis">
                            <span :title="request.url">{{ request.url }}</span>
                        </td>
                        <td :class="{ 'text-danger': request.response && request.response.statusCode >= 400 }">
                            {{ request.response && request.response.statusCode || "-" }}
                        </td>
                        <td style="padding: 0; background: #e9ecef; height: 33px;">
                            <request-timeline
                                :request="request"
                                :min="min"
                                :max="max"></request-timeline>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p v-else-if="!allRequests.length" class="alert alert-info" key="no-requests">
            No requests to display
        </p>
        <p v-else class="alert alert-info" key="no-visible-requests">
            No requests match the filter
        </p>
    </transition>
</div>
